.emacs.d/straight/
.emacs.d/bookmarks
.emacs.d/recentf
.emacs.d/smex-items
.emacs.d/.lsp-session-v1
\#*\#

.vim/black
vim/view/
vim/.netrwhist
*.swp
*.swo
vim/plugged
service_account.json
.DS_Store
.editorconfig
tags
*.dtps/
.zsh/local.zsh

config/fish/local.fish

.ipynb_checkpoints/

config/yarn/
config/nvim/.netrwhist

.bindor/

vendor/bundle

*.so
.env-qa
.env-prod
.env-dev
.env

.idea/
.mypy_cache/
.envrc

.vscode/
