[user]
  name = agatan
  email = agatan039@gmail.com
[alias]
  st = status
  co = checkout
[ghq]
  root = ~/repos/src
[github]
  privatekey = ~/.ssh/id_rsa
  user = agatan
[filter "lfs"]
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
  clean = git-lfs clean -- %f
[credential]
  helper = osxkeychain
[url "git@github.com:"]
	insteadOf = "https://github.com/"
[url "git@github.com:"]
	insteadOf = "git://github.com/"
[url "https://github.com"]
	insteadOf = git://github.com
[url "ssh://git@github.com"]
	insteadOf = https://github.com
[init]
	defaultBranch = main
